
.tiposDev{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    
};